<main>
    <h1 class="text-center pt-5">${theMallet[0].brand_name} ${theMallet[0].name}</h1>
    ${theReview.length !== 0 ? `` : `<div class="text-center pt-2"><h4>No reviews yet. Please log in to add your review</h4></div>`}
    
    ${theReview.map(review => `
        <div class='product-details mb-4'>
            <div class="product-review">
                <div id="rater">

                </div>
                <div>
                    <h4>Comments: </h4>
                    <p>${review.review_text}</p>
                </div>
                <div>
                    <h4>Posted by: </h4>
                    <p>${review.name}</p>
                </div>
            </div>
        </div>`
        ).join('')}
        ${!!is_logged_in ? 
        
        `<div class="text-center">
        <form action="/reviews/add" method="POST">
            <p>Add a new review:</p>
            <input type="hidden" value='${theMallet[0].id}' name="mallet_id"/>
            <div id="rater" class="star-rating" style="width: 160px; height: 32px; background-size: 32px;" title="5/5">
                <div class="star-value" style="background-size: 32px; width: 0%;"></div>            
            </div>
            <div class="">
                <div class="">
                    <textarea class="textarea is-primary" placeholder="Leave a review" rows="4" cols="50" name="review_content" required></textarea>
                </div>
            </div>
            <button class="button is-primary" type="submit">Submit Review</button>
        </form>
    </div>` : ``
    }
        <div class="text-center">
            <a href='./'>Back to All Mallets</a>
        </div>
</main>
<script>
    var rater = require("rater-js");

    var myRater = rater({element: document.querySelector("#rater"), rateCallback: function rateCallback(rating, done) {
                 //make async call to server however you want
                 //in this example we have a 'service' that rate and returns the average rating
                 myDataService.rate(rate).then(function(avgRating) {
                     //update the avarage rating with the one we get from the server
                     myRater.setRating(avgRating);
                      //we could disable the rater to prevent another rating
                      //if we dont want the user to be able to change their mind
                     myRater.disable();
                     //dont forget to call done
                     done();
                 }, function(error) {
                         //handle the error
                         //dont forget to call done
                         done();
                 });
     }});


 </script>