<main>
    <h1 class="text-center pt-5">${theMallet[0].brand_name} ${theMallet[0].name}</h1>
    ${theReview.length !== 0 ? `` : `<div class="text-center pt-2"><h4>No reviews yet. Please log in to add your review</h4></div>`}
    
    ${theReview.map(review => `
        <div class='product-details mb-4'>
            <div class="product-review">
                <ul class="rating">
                    <li class="rating-item" data-rate="1"></li>
                    <li class="rating-item active" data-rate="2"></li>
                    <li class="rating-item" data-rate="3"></li>
                    <li class="rating-item" data-rate="4"></li>
                    <li class="rating-item" data-rate="5"></li>
                    </ul>
                <div>
                    <h4>Comments: </h4>
                    <p>${review.review_text}</p>
                </div>
                <div>
                    <h4>Posted by: </h4>
                    <p>${review.name}</p>
                </div>
            </div>
        </div>`
        ).join('')}
        ${!!is_logged_in ? 
        
        `<div class="text-center">
        <form action="/reviews/add" method="POST">
            <p>Add a new review:</p>
            <input type="hidden" value='${theMallet[0].id}' name="mallet_id"/>
        
            <div class="">
                <div class="">
                    <textarea class="textarea is-primary" placeholder="Leave a review" rows="4" cols="50" name="review_content" required></textarea>
                </div>
            </div>
            <button class="button is-primary" type="submit">Submit Review</button>
        </form>
    </div>` : ``
    }
        <div class="text-center">
            <a href='./'>Back to All Mallets</a>
        </div>
</main>
<script>
    const container = document.querySelector('.rating');
const items = container.querySelectorAll('.rating-item')
container.onclick = e => {
const elClass = e.target.classList;
// change the rating if the user clicks on a different star
if (!elClass.contains('active')) {
items.forEach( // reset the active class on the star
item => item.classList.remove('active')
);
console.log(e.target.getAttribute("data-rate"));
elClass.add('active'); // add active class to the clicked star
}
};


 </script>